.empty-suggest{
  background-color: floralwhite;
  width: 100%;
}

.material-table-input{
  width: 80%;
  margin-left: 10%
}

.logo-default{
  margin: 10.5px 0 0 !important;
  height: 60px !important;
}


.form-filter{
  width: 60%;
  margin-left: 20%;
}

thead{
    td,th{
      text-align: center;
      align-content: center;
    }
}

tbody{
  td{
    text-align: center;
    align-content: center;
  }
}